/.stack-work/
/kmonad.cabal

#   We generally do not want to be using a lock file on the main branch
#   because we want to find out as soon as possible about problems introduced
#   by new versions of our dependencies.
/stack.yaml.lock